# Игнорировать виртуальное окружение
venv/
.venv/

# Игнорировать файлы PyCharm
.idea/

# Игнорировать временные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорировать файлы конфигурации среды
*.env

# Игнорировать логи и временные файлы
*.log
*.tmp

# Игнорировать системные файлы macOS
.DS_Store

# Игнорировать файлы Jupyter Notebook
.ipynb_checkpoints/

# Игнорировать файлы сборки
build/
dist/

# Игнорировать файлы подключения к БД
BAZA_YASNO/creds/*.json
*.json


